[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<4.0"
graphene-django = "*"
dj-database-url = "*"
psycopg2 = "*"
django-extensions = "*"
requests = "*"
beautifulsoup4 = "*"
django-graphql-auth = "*"
django-graphql-jwt = "==0.3.0"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
